@import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(150, 150, 150);
    color: whitesmoke;
}

header {
    background-color: rgb(10, 31, 96);
    color: white;
    padding: 30px 0;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;

                li a {
                    color: white;
                    padding: 0 15px;
                    font-size: 1.1rem;
                    text-decoration: none;

                    &:hover {
                        color: orange;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}